body {
    background-color: #263238;
    color: white;
}
h5  {
    background-color: #2E2E2E;
}
h2  {
    background-color: #263238;
    color: white;
}
 * {
            box-sizing:border-box
          }
        
          .slideshow-container {
            max-width: 500px;
            position: relative;
            margin: auto;
          }
       
          .mySlides {
              display: none;
          }
        
          .text {
            color: #f2f2f2;
            font-size: 15px;
            padding: 8px 12px;
            position: absolute;
            bottom: 8px;
            width: 100%;
            text-align: center;
          }


          .dot {
            cursor:pointer;
            height: 13px;
            width: 13px;
            margin: 0 2px;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;
            transition: background-color 0.6s ease;
          }

          .active, .dot:hover {
            background-color: #717171;
          }


          .fade {
            -webkit-animation-name: fade;
            -webkit-animation-duration: 3s;
            animation-name: fade;
            animation-duration: 3s;
          }

          @-webkit-keyframes fade {
            from {opacity: .4} 
            to {opacity: 1}
          }

          @keyframes fade {
            from {opacity: .4} 
            to {opacity: 1}
          }
  p {
    font-size: 17px

  }
  h3{
    font-weight: bold
  }
  table, th, td {
    border: 0px solid black;
}
.navbar {
display: flex;
align-items: center;
justify-content: center;
}

li.header{
width: 270px;
  font-size:30px;
text-align: center;

}
